.body{
  background-color: #1d1c1c;
  color: white;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin-left: -730px;
}

.buttonpma {
  top: 30px;
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  animation: r1 3s ease-in-out infinite;
  border: 7px #056bfa21 solid;
  border-radius: 14px;
}

/* button styling */
.buttonpma {
  --border-right: 6px;
  --text-stroke-color: rgba(85, 87, 255, 0.78);
  --animation-color: #056bfa;
  --fs-size: 2em;
  margin-top: -935px;
  margin-left: 730px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 1.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  animation: r2 2s ease-in-out infinite;
}
/* hover */
.buttonpma:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 70px var(--animation-color))
}

h1{
    background-image: linear-gradient(45deg, rgb(158, 106, 207),
    rgb(35, 222, 255),
    rgb(255 35 90));
    background-clip: text;
    color: transparent;
    }

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -290px;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.form-container {
  width: 350px;
  border-radius: 0.75rem;
  background-color:#232323;
  padding: 2rem;
  color: rgba(243, 244, 246, 1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Para melhorar a aparência */
}

.title {
text-align: center;
font-size: 1.5rem;
line-height: 2rem;
font-weight: 700;
}

.form {
margin-top: 1.5rem;
}

.input-group {
margin-top: 0.25rem;
line-height: 8px;
margin-left: -15px;
padding: 3px;
}

.input-group label {
display: block;
color: rgba(156, 163, 175, 1);
margin-bottom: 4px;
}

.input-group input {
width: 95%;
border-radius: 0.375rem;
border: 1px solid rgba(55, 65, 81, 1);
outline: 0;
background-color:#232323;
padding: 0.75rem 1rem;
color: rgba(243, 244, 246, 1);
}

.input-group input:focus {
border-color: rgba(167, 139, 250);
}

.forgot {
display: flex;
justify-content: flex-end;
font-size: 0.75rem;
line-height: 1rem;
color: rgba(156, 163, 175,1);
margin: 8px 0 14px 0;
margin-right: -25px;
}

.forgot a,.signup a {
color: rgba(243, 244, 246, 1);
text-decoration: none;
font-size: 14px;
}

.forgot a:hover, .signup a:hover {
text-decoration: underline rgba(167, 139, 250, 1);
}

.sign {
display: block;
width: 100%;
background-color: rgba(85, 87, 255, 0.78);
padding: 0.75rem;
text-align: center;
color: rgb(255, 255, 255);
border: none;
border-radius: 0.375rem;
font-weight: 600;
cursor: pointer;
border-radius: 0.5rem;
transition: all 0.3s ease; 
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.sign:hover {
background-color: #1e034b; /* Muda a cor de fundo */
transform: scale(1.05); /* Aumenta o tamanho em 5% */
box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4); /* Aumenta a sombra ao hover */
}

.sign:active {
background-color: #a6b8eb; /* Cor quando o botão é clicado */
transform: scale(0.95); /* Encolhe o botão levemente ao clicar */
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2); /* Reduz a sombra ao clicar */
}

.social-message {
display: flex;
align-items: center;
padding-top: 1rem;
}

.line {
height: 1px;
flex: 1 1 0%;
background-color: rgba(55, 65, 81, 1);
}

.social-message .message {
padding-left: 0.75rem;
padding-right: 0.75rem;
font-size: 0.875rem;
line-height: 1.25rem;
color: rgba(156, 163, 175, 1);
}

.social-icons {
display: flex;
justify-content: center;
}

.social-icons .icon {
border-radius: 0.125rem;
padding: 0.75rem;
border: none;
background-color: transparent;
margin-left: 9px;
}

.social-icons .icon svg {
height: 1.25rem;
width: 1.25rem;
fill: #fff;
}

.signup {
text-align: center;
font-size: 0.75rem;
line-height: 1rem;
color: rgba(156, 163, 175, 1);
}





.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  justify-content: right, center;
}

.wrapper .icon {
  position: relative;
  background: #000000;
  border-radius: 50%;
  margin: 15px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #000000;
  color: #000000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #000000;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #000000;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #000000;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #000000;
}